.fullscreen {
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin-left: 0.1px; 
    margin-right: 0.1px;
}

.titulo-banner {
    font-size: 4.2em;
}

.icone-vermelho {
    color: #ed3237;
}

.icone-azul {
    color: #00afef;
}

.icone-verde {
    color: #4fff89;
}